<d id="roll">
  <h1 >USER: <span class="color">{{user.username}}</span></h1>
  <h2 class="color" id="current-Char">{{character.name}}</h2>
  <h2>FIND NEW HACK</h2>
  <button class="log-bttn roll" data-img={{character.img}}>--Roll--</button>
  <h2>BLACK MARKET</h2>
  <a href="/shop"><button class="log-bttn shop">--Shop--</button></a>
  <h2>ADDICTS LIST</h2>
  <a href="/rankings"><button class="log-bttn">--Rankings--</button></a>
  <div id="rounds">
  <h2 class="fight">FIGHT FOR YOUR DATA:  <span class="color" >LEVEL {{user.highest_level}}</span></h2>
  {{#each enemyData}}
  <a href="/play"><button class="log-bttn play" data-id="{{this.id}}">--Stage {{this.id}}--</button></a>
  {{/each}}
  {{#if random}}
  <a href="/play"><button class="log-bttn play" data-id="1">--Random--</button></a>
  {{/if}}
  </div>
</div>
  <div id="wake-up">
  <h2>WAKE UP</h2>
  <button class="log-bttn" id="logout">(# ﾟДﾟ) ﾑｯ!</button>
  </div>

{{!-- <script src="../js/gameLogic.js"></script> --}}
<script type="module" src="/js/play.js"></script>
<script type="module" src="/js/shop.js"></script>
<script defer type="module" src="./js/3dRender/homePage.js"></script>