<section class="card">
    <p>{{character.name}}</p>
    <p>HP: {{game.user_hp}}</p>
    <p>Attack: {{character.attack}}</p>
    <p>Defense: {{character.defense}}</p>
    <p>AP: {{game.user_ap}}</p>
</section>
<section class="card">
    <p>{{enemy.name}}</p>
    <p>HP: {{game.enemy_hp}}</p>
    <p>Attack: {{enemy.attack}}</p>
    <p>Defense: {{enemy.defense}}</p>
    <p>AP: {{game.enemy_ap}}</p>
</section>
<button data-id='{{game.id}}' id="attack">attack</button>
<button id="defend">defend</button>
<button id="nextTurn">next turn</button>
<section class="card">
    <p>Turn Counter: {{game.turn}}</p>
</section>

<script src="./js/gameLogic.js"></script>